n8n/workflows/florida-permit-orchestrator.json
{
  "name": "Florida Permit Orchestrator (MCP Bridge)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "florida-permit-orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_Trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -840,
        240
      ],
      "webhookId": "florida-permit-orchestrator"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "search_permits",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "get_permit_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "get_county_requirements",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "get_permit_documents",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "submit_permit_package",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 6
        }
      },
      "id": "Action_Switch",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -600,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8787/tool/search_permits",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.payload }}",
        "options": {}
      },
      "id": "Call_Search_Permits",
      "name": "Call search_permits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8787/tool/get_permit_status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.payload }}",
        "options": {}
      },
      "id": "Call_Get_Status",
      "name": "Call get_permit_status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8787/tool/get_county_requirements",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.payload }}",
        "options": {}
      },
      "id": "Call_Get_Requirements",
      "name": "Call get_county_requirements",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8787/tool/get_permit_documents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.payload }}",
        "options": {}
      },
      "id": "Call_Get_Documents",
      "name": "Call get_permit_documents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8787/tool/submit_permit_package",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.payload }}",
        "options": {}
      },
      "id": "Call_Submit_Package",
      "name": "Call submit_permit_package",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: 'invalid_action', supported_actions: ['search_permits','get_permit_status','get_county_requirements','get_permit_documents','submit_permit_package'] } }}"
      },
      "id": "Invalid_Action_Response",
      "name": "Invalid Action Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -300,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "Return_Result",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -40,
        240
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Call search_permits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call get_permit_status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call get_county_requirements",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call get_permit_documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call submit_permit_package",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call search_permits": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call get_permit_status": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call get_county_requirements": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call get_permit_documents": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call submit_permit_package": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
